<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head"></head>

<body>

<header th:replace="fragments/layout :: header">
</header>

<main role="main">
    <form class="form-signin" action="/feedback" method="post">
        <div class="text-center mb-4">
            <img class="mb-4" src="/images/pivotal-square-logo.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Leave your feedback</h1>
            <!--<p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>-->
        </div>

        <div class="form-label-group">
            <textarea id="feedback" name="feedback" class="form-control" placeholder="Submit your feedback" cols="30" rows="10" required autofocus></textarea>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
    </form>
</main>

<footer th:replace="fragments/layout :: footer" class="footer">
</footer>

<div th:replace="fragments/layout :: scripts"></div>

</body>

</html>